@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/fonts/Rajdhani-Medium.ttf') format('truetype'),
  url('./assets/fonts/Rajdhani-SemiBold.ttf') format('truetype'),
  url('./assets/fonts/Rajdhani-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
}

body.bg-blur {
  overflow: hidden;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style: none;
  padding: 0;
}

.features {
  display: flex;
  flex-direction: column;
}

.section {
  padding: 10px;
}
